.one-product {
    letter-spacing: normal;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 342px;
    outline: 0px solid red;
    border: dashed 2px transparent;
    margin-right: 14px;
    margin-bottom: 14px;
}

.inner-one-product {
    margin: 43px auto 30px auto;
    display: block;
    width: 231px;
    height: 200px;
    outline: 0px solid red;
}

.one-product a:last-child {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    font-size: 22px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #181e93;
  text-decoration: none;
}

.one-product:hover a:last-child {
    box-sizing: border-box;
    padding: 0 44px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  background-color: #a7c32e;
  box-shadow: 0 4px 14px 0 rgba(167, 195, 46, 0.58);
  font-size: 22px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #ffffff;
  height: 52px;
  line-height: 52px;
}

.one-product:hover {
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(18, 29, 243, 0.16);
  border: dashed 2px #181e93;
}

.products-page {
    margin-top: 47px;
}
